body {
    font-family: Arial, sans-serif;
    margin: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 400px;
}

h1 {
    color: #333;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="number"] {
    padding: 5px;
    font-size: 16px;
}

button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: blueviolet;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

p#resultado {
    margin-top: 20px;
    font-weight: bold;
}